<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>
      <% if @track_info %>
        <%= @track_info[:artist] %> - <%= @track_info[:title] %> - shell.fm
       <% else %>
         shell.fm - stopped
       <% end %>
    </title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.8.2.custom.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >

    <script type="text/javascript" src="javascripts/jquery-1.4.2.min.js" ></script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.8.2.custom.min.js" ></script>
    <script type="text/javascript" src="javascripts/main.js" ></script>
  </head>

  <body onload="setRefresh();">

    <div id="wrapper">
      <div id="boxwrapper">
        <div id="controlbox">
          <div class="left logo">
            <a href="/"><img src="images/logo.png"/></a>
          </div>

          <div id="spinner" style="display:none;">
            <img src="/images/ui-anim_basic_16x16.gif" />
          </div>

          <div class="light right loggedin">
            Using last.fm account: <b><%= Username %></b> <br/>
            You are connecting from: <b><%= @client_ip %></b><br/>
            <%= link_to "/config", "- view shell-fm config -"%>
          </div>

          <div class="dark station" id="station-link">
             <%= @station_link %>
          </div>

          <div class="track-info">
            <div id="album-image"><%= @album_image %></div>
            <div class="light trackdetails">
              <% if @track_info %>
                <table id="details">
                  <tbody>
                    <tr>
                      <th>track : </th>
                      <td>
                        <span id="artist-link"><%= @artist_link %></span> -
                        <span id="title-link"><%= @title_link %></span>
                      </td>
                    <tr>
                      <th>album : </th>
                      <td><span id="album-link"><%= @album_link %></span></td>
                    </tr>
                  </tbody>
                </table>

                <div id='remaining'>
                  <div id="progresstime"></div>
                  <p>
                    <span id="remainlabel"><%= @track_info[:remaining] %></span> /
                    <span id="totallabel"><%= @track_info[:duration]%></span>
                  </p>
                </div>
                <script type="text/javascript">
	                $(function() {
		                $("#progresstime").progressbar({
			                value: <%= @track_info[:total_s].to_i > 0 ? (((@track_info[:total_s].to_f - @track_info[:remain_s].to_f) / @track_info[:total_s].to_f) * 100).to_i : 0 %>
		                });
	                });
	                var remain_s = <%= @track_info[:remain_s] %>;
	                var total_s = <%= @track_info[:total_s] %>;

	                var status = "<%= @status %>";
                </script>

                <div class="buttons">
                  <ul class="buttonlist">
                    <% ["skip","love","ban","pause","stop"].each do |cmd| %>
                      <li>
                        <a href="#" onclick="ajaxCommand('<%= cmd %>')">
                          <img id="<%= cmd %>" src="images/<%= cmd %>.png"/>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div id="equalizer">
                  <div id="image"></div>
                </div>

                <div id="volumelabel">volume : </div>
                <div id="volumeslider"></div>

                <div id="volspinner" style="display:none;" >
                  <img src="/images/ui-anim_basic_16x16.gif" />
                </div>

                <script type="text/javascript">
                  $(function() {
                    $("#volumeslider").slider({
                 			min: 0,
                			max: 100,
                			value: <%= @track_info[:volume].to_i %>,
                			change: function(event, ui) {
                        if(event.originalEvent!=undefined) {
                          volumeChange(ui.value);
                        }
                      }
                    });
                  });
                </script>

              <% else %>
                <p><b>shell.fm not running. <%= link_to "/cmd/start", "Start shell.fm" %></b></p>
              <% end %>

              <div id="message-shadow" class="dark" style="display:none">
                  <div id="message"></div>
              </div>

            </div>
          </div>

          <div class="light changestation">
            <p>
              <input type="radio" name="stationtype" value="artist" checked="true">Artist
              <input type="radio" name="stationtype" value="globaltags">Tags
              <input id=stationurl size=30>
              <script type="text/javascript">
                $("#stationurl").keyup(function(event){
                  if(event.keyCode == 13){$("#playbutton").click();}
                });
              </script>
              <input id="playbutton" type=button value="play" onclick="ajaxPlay($('#stationurl').val(), $('input[@name=stationtype]:checked').val()+'/');">

              <input type=button value="play current artist" onclick="ajaxPlay('artist/'+$('#artist-link a').html(), '');">

              <img id="playspinner" src="/images/ui-anim_basic_16x16.gif" style="display:none;" />
            </p>
            <p>Recent Stations
              <select id=stationselect onchange="ajaxPlay($('#stationselect').val(), '');">
                <option value=''></option>
                <% radio_history.each do |r|
                  unless r == "" %>
                    <option value='<%= r %>'><%= r %></option>
                  <% end %>
                <% end %>
              </select>
            Bookmarked Stations
              <select id=bookmarkselect onchange="ajaxPlay($('#bookmarkselect').val(), '');">
                <option value=''></option>
                <% bookmarks.each do |k, v|
                  unless v == "" %>
                    <option value='<%= v %>'><%= "#{k}: #{v}" %></option>
                  <% end %>
                <% end %>
              </select>
            </p>
          </div>

          <div class="light flash" style="display:none;"></div>

        </div>
        <div id="icons"><%= link_to "http://p.yusukekamiyamane.com/", "icons by pinvoke"%></div>
      </div>
    </div>

  </body>
</html>

