<html>
  <head>
    <title>
      <% if @track_info %>
        <%= @track_info[:artist] %> - <%= @track_info[:title] %> - shell.fm
       <% else %>
         shell.fm - stopped
       <% end %>
    </title>

    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" >

    <script type="text/javascript" src="javascripts/jquery-1.3.2.min.js" />

    <script type="text/javascript"></script>

  </head>

  <body>

    <div id="wrapper">
      <div id="boxwrapper">
        <div id="controlbox">
          <div class="left">
            <a href="/"><img src="images/logo.png"/></a>
          </div>

          <div class="light right loggedin">
            Using last.fm account: <b><%= Username %></b> <br/>
            You are connecting from: <b><%= @client_ip %></b><br/>
            <%= link_to "/config", "- view shell-fm config -"%>
          </div>

          <div class="trackinfo">
            <div id="albumimage"><%= @album_image %></div>
            <div class="light trackdetails">
              <% if @track_info %>
                <table id="details">
                  <tbody>
                    <tr>
                      <th>last.fm station : </th>
                      <td><%= @station_link %></td>
                    </tr>
                    <tr>
                      <th>track : </th>
                      <td><%= @artist_link %> - <%= @title_link %></td>
                    <tr>
                      <th>album : </th>
                      <td><%= @album_link %></td>
                    </tr>
                    <tr>
                      <th>remaining time : </th>
                      <td><span id='remaining'><%= @track_info[:remaining]%></span> / (<%= @track_info[:duration]%>)</td>
                    </tr>
                    <tr>
                      <th>volume : </th>
                      <td><%= @track_info[:volume]%></td>
                    </tr>
                  </tbody>
                </table>

                <div class="buttons">
                  <ul class="buttonlist">
                    <% ["skip","love","ban","pause","stop","start","kill"].each do |cmd| %>
                      <li>
                        <a href="/?cmd=<%= cmd %>">
                          <img src="images/<%= cmd %>.png"/>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div id="equalizer">
                  <div id="image"></div>
                </div>

              <% else %>
                <p><b>shell.fm not accessible</b></p>
              <% end %>
            </div>
          </div>

          <div class="light changestation">
            <form name=station method=get>
              <p>
                <input name=stationurl size=30 value="<%= ('artist/' + @track_info[:artist]) if @track_info %>">
                <input type=hidden name=cmd value='play'>
                <input type=submit value='play'>
              </p>
              <p>Recent Stations
                <select name=stationselect onchange="submit()">
                  <option value=''></option>
                  <% radio_history.each do |r|
                    unless r == "" %>
                      <option value='<%= r %>'><%= r %></option>
                    <% end %>
                  <% end %>
                </select>
              Bookmarked Stations
                <select name=bookmarkselect onchange="submit()">
                  <option value=''></option>
                  <% bookmarks.each do |k, v|
                    unless v == "" %>
                      <option value='<%= v %>'><%= "#{k}: #{v}" %></option>
                    <% end %>
                  <% end %>
                </select>
              </p>
            </form>
          </div>

          <% if @flash %>
            <div class="light flash"><%= @flash %></div>
          <% end %>

        </div>
        <div id="icons"><%= link_to "http://p.yusukekamiyamane.com/", "icons by pinvoke"%></div>
      </div>
    </div>

  </body>
</html>

