<html>
  <head>
    <title>shell.fm</title>
  </head>

  <script language=JavaScript>
     function setRefresh() {
        refresh_timer_id = window.setTimeout("doRefresh()",7000);
        window.setTimeout("fakeTimerCountdown()",1000);
     }
     function clearRefresh() {
        window.clearTimeout(refresh_timer_id);
     }
     function doRefresh() {
        document.location="/";
     }
     
     function pad2(number) {
        return (number < 10 ? '0' : '') + number   
     }

     function fakeTimerCountdown() {
        time_arr = document.getElementById("remaining").innerHTML.split(":");
        mins = parseInt(time_arr[0]);
        secs = parseInt(time_arr[1]);
        secs -= 1;
        if (secs < 0) {
          mins -= 1;
          secs = 59;
        }
        document.getElementById("remaining").innerHTML = pad2(mins) + ":" + pad2(secs);
        window.setTimeout("fakeTimerCountdown()",1000);
     }

  </script>
  <body bgcolor=#FFFFFF onload="setRefresh();" onunload="clearRefresh()">

    <b><a href="/">shell.fm server</a></b><small> - logged in to last.fm as: <%= Username %></small>

    <p><small>You are connecting from: </small>
      <b><%= @client_ip %></b></p>
    
    <% if @flash %>
      <hr>
      <h3><%= @flash %></h3>
    <% end %>
    
    <hr>

    <% if @track_info %>
      <p><small>Playing: <%= @station_link %></small></p> 
      <table>
        <tbody>
          <tr>
            <td><small>track : </small>
            <%= @artist_link %> - <%= @title_link %></td>
          <tr>
            <td><small>album : </small>
            <%= @album_link %> </td>
          </tr>
          <tr>
            <td><small>remaining time : </small>
            <span id='remaining'><%= @track_info[:remaining]%></span> / (<%= @track_info[:duration]%>)</td>
          </tr>
          <tr>
            <td align=right><br><%= @album_image %></p></td>
            <td><br>  
              <ul style='list-style-type: none;'>
                <% ["skip","love","ban","pause","stop","start","kill"].each do |cmd| %>
                  <li>
                    <a href="/?cmd=<%= cmd %>">
                      <%= CmdTitles[cmd] %> 
                    </a>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    <% else %>
      <p><b>Cannot connect to shell.fm</b></p> 
    <% end %>
    
    <hr>
    <form name=station method=get>
      <p>Visit Station
        <input name=stationurl size=30 value="<%= @track_info[:station_url] if @track_info %>">
        <input type=hidden name=cmd value='play'>
        <input type=submit value='play'>
      </p>
      <p>Recent Stations 
        <select name=stationselect onchange="submit()">
          <option value=''></option>
          <% radio_history.each do |r|
            unless r == "" %>
              <option value='<%= r %>'><%= r %></option>
            <% end %>
          <% end %>
        </select>
      </p>
      <p>Bookmarked Stations
        <select name=bookmarkselect onchange="submit()">
          <option value=''></option>
          <% bookmarks.each do |k, v|
            unless v == "" %>
              <option value='<%= v %>'><%= "#{k}: #{v}" %></option>
            <% end %>
          <% end %>
        </select>
      </p>
    </form>
  </body>
</html>
